html {
  height: 100%;
}
body {
	font-family: Arial;
	background-color: #c5cddb;
	margin:0px;
	height: 100%;
	overflow: hidden;
}
#headerContainer{
	width:100%;
	height:50px;
	margin:0px;
	background-color: #3498DB;
	color: white;
    font-family: helvetica;
    display:block;
}
#appName{
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    top: 15%;
    display: inline-block;
    left: 35%;
}
#appVersionSpan{
	padding-left: 5px;
    font-size: 15px;
}
#LoginDetails{
    float: right;
    margin-right: 1%;
    display: inline-block;
    text-align: center;
    margin-top: 2px;
}
#navigationContainer{
    width: 100%;
    text-align: center;
    color: white;
    font-family: helvatica, Arial;
    font-size: 20px;
    background-color: lightseagreen;
    border: 1px solid silver;
    height:50px;
}
.tabsClass{
    display: inline-block;
    height: 50px;
    background-color: lightseagreen;
    width: 33.33%;
    border-right: 1px solid silver;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    line-height: 50px;
}
.tabsClass:HOVER {
	background-color: #019189;
	-moz-box-shadow: 3px 3px 3px 3px #5B5B5B;
	-webkit-box-shadow: 3px 3px 3px 3px #5B5B5B;
	box-shadow: 3px 3px 3px 3px #5B5B5B;
}
.tabSpanClass{
}
#logoutBtn{
	float: right;
	display: inline-block;
	position: relative;
	margin-top: 1.7%;
	margin-right: -7%;
	width: 100px;
	height: 25px;
	font-weight: bold;
	background-color: #5B5B5B;
	color: #FFF;
	border-radius: 5px;
}
#logoutBtn:HOVER {
	background-color: #000000;
}
#iframeContainer{
    width: 100%;
    height: 86%;
    overflow: hidden;
}
#contentHolder{
	width:100%;
    height: 100%;
}
.tabsClassSelected{
	background-color: #019189;
}
#logoUP{
	width: 20px;
	height: 50px;
	position: fixed;
	right: 65%;
}
#copyRightInfo{
	position: absolute;
	font-size: 8px;
	color: white;
	right: 1%;
}