html {
  height: 100%;
}
body {
	background-color: #4286F4;
	margin: 0px;
	height: 100%;
	overflow: hidden;
	color: white;
	font-family: helvetica,Arial;
	font-size: 20px;
	font-weight: bold;
}
p{
	text-align: center;
	width : 80%;
}
.contactIcons{
	height: 50px;
	top: 15px;
	position: relative;
}
#backBtn {
    background: none repeat scroll 0% 0% #5b5b5b;
    color: #FFF;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    float: left;
    left: 2%;
    position: relative;
    cursor: pointer;
}

#backBtn:hover{
	background-color: #000;
}

#x{
	top: 2px;
	position: relative;
}