html {
  height: 100%;
}
body {
	margin: 0px;
	height: 100%;
	overflow: hidden;
}
#contactContentHolder{
	background-color: #384C68;
	overflow: hidden;
	color: white;
	font-family: helvetica,Arial;
	font-size: 20px;
	font-weight: bold;
	height:100%;
}
p{
	text-align: left;
    width: 45%;
    margin-left: 20%;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    padding: 20px;
}
.contactIcons{
	height: 50px;
	top: 15px;
	position: relative;
}
#backBtn {
    background: none repeat scroll 0% 0% #010814;
    color: #FFF;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    float: left;
    left: 2%;
    position: relative;
    cursor: pointer;
}

#backBtn:hover{
	background: #01066E;
}

#x{
	top: 2px;
	position: relative;
}