html {
  height: 100%;
}
body {
	font-family: Arial;
	background-color: #c5cddb;
	margin:0px;
	height: 100%;
	overflow: hidden;
}
#headerContainer{
	width:100%;
	height:50px;
	margin:0px;
	background-color:#384C68;
	color: white;
    font-family: helvetica;
    display:block;
}
#appName{
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    top: 15%;
    display: inline-block;
    left: 35%;
}
#appVersionSpan{
	padding-left: 5px;
    font-size: 15px;
}
#LoginDetails{
    float: right;
    margin-right: 1%;
    display: inline-block;
    text-align: center;
    margin-top: 2px;
}
#navigationContainer{
    width: 100%;
    text-align: center;
    color: white;
    font-family: helvatica, Arial;
    font-size: 20px;
    background-color: lightseagreen;
    border: 1px solid silver;
    height:50px;
}
.tabsClass{
    display: inline-block;
    height: 50px;
    background-color: #4E5E75;
    width: 33.33%;
    border-right: 1px solid silver;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    line-height: 50px;
}
.tabsClass:HOVER {
	background-color: #2e3744;
	-moz-box-shadow: 3px 3px 3px 3px #5B5B5B;
	-webkit-box-shadow: 3px 3px 3px 3px #5B5B5B;
	box-shadow: 3px 3px 3px 3px #5B5B5B;
}
.tabSpanClass{
}
#logoutBtn:HOVER {
	background-color: #000000;
	cursor: pointer;
}
#iframeContainer{
    width: 100%;
    height: 86%;
    overflow: hidden;
}
#contentHolder{
	width:100%;
    height: 100%;
}
.tabsClassSelected{
	background-color: #2E3744;
}
#logoUP{
	width: 20px;
	height: 50px;
	position: fixed;
	right: 65%;
}
#copyRightInfo{
	position: absolute;
	font-size: 8px;
	color: white;
	right: 1%;
}
#settingsIcon{
	display: none;
}

@media only screen and (max-width:650px){
body{
	font-size: 20px; 
}
#appName{
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    top: 15%;
    display: inline-block;
    left: 15%;
}
#LoginDetails{
	float: right;
	margin-right: 1%;
	display: inline-block;
	text-align: center;
	margin-top: 2px;
	font-size: 15px;
	font-family: helvetica,Arial;
}
#navigationContainer{
	font-size: 16px;
}
#userInputContainer{
	width: 70%;
	border: 2px solid #5B5B5B;
	margin-left: 10%;
	padding: 2%;
	border-radius: 10px;
	margin-top: 2%;
	background-color: #384C68;
	font-size: 15px;
	font-family: helvatica,Arial;
	color: #FFF;
	padding-bottom: 7%;
}
}
#settingsIcon {
    height: 20px;
    width: 20px;
    float: right;
    position: relative;
    display: inline-block;
    margin-top: 1.7%;
    margin-right: 30%;
    padding-top: 1.5%;
}
#settingsWrapper{
	right: 2.5%;
	display: none;
}
.square:before {
    content:"";
    position: absolute;
    right: 5px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent black transparent;
    z-index:9999;
}

.square {
    background: #000;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 1);
    float: left;
    position: absolute;
    margin: 0;
    top: 2.8em;
    width: 120px;
    z-index: 99999;
    text-align: center;
    font-size:15px;
}
.menuList{
  height:33%;
  padding:5px;
  border : 1px solid silver;
  cursor: pointer;
}