body
{
	margin: 0px;
	width: 100%;
	height: 100%;	
}
#userInputContainer
{
	width: 50%;
    border: 2px solid #5B5B5B;
    margin: 2% 0px 2% 20%;
    padding: 2%;
    border-radius: 10px;
    background-color: #384C68;
    font-size: 15px;
    font-family: helvatica, Arial;
    color: white;
}
.userInputClass
{
    width: 85%;
    border: none;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    font-size: 15px;
}

.userFieldLable
{
	width: 30%;
}

#userFormDetails
{
	width: 100%;
	border-collapse: collapse;
}
#userFormDetails td{
	padding: 2px 0px 2px 0px;
}
#licenseType, #gender
{
	width: 85%;
	height: 25px;
	background-color: white;
	border: none;
}
#saveButtonContainer
{
    width: 100%;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 5%;
}
#saveDetails
{
	border-radius: 5px;
    background-color: #050505;
    font-size: 15px;
    font-family: helvatica,Arial;
    color: #FFF;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    float: right;
    width: 15%;
    margin-right: 20%;
    font-weight: bold;
}
#saveDetails:HOVER{
	color: orange;
}
#resetInputs{
	border-radius: 5px;
    background-color: #050505;
    font-size: 15px;
    font-family: helvatica,Arial;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    float: left;
    width: 15%;
    margin-left: 20%;
}
#copyAddress{
    width: 20px;
    cursor:pointer;
}
#infoToUserContainer,#infoToUserStatic{
    background-color: #2E3744;
    font-size: 15px;
    font-family: helvatica,Arial;
    color: white;
    text-align: center;
    height: 45px;
    width: 200px;
    display: none;
    position: absolute;
    border-radius: 10px;
    padding: 5px 3px 3px 5px;
}
#firstName,#dateOfBirth{
	width: 41%;
}
#lastName,#age{
	width: 41%;
	margin-left:0.5%
}
.infoIcon {
	height: 26px;
	width: 30px;
	float: right;
	position: relative;
	display: inline-block;
	right: 23%;
}
#importBtnPopup{
	border: 1px solid silver;
	width: 65%;
	margin: 2% 2% 2% 15%;
	color: white;
	border-radius: 5px;
	padding: 4%;
	cursor: pointer;
	font-weight: bold;
}
#importBtnPopup:HOVER {
	color: orange;
}