html {
  height: 100%;
}
body {
	margin: 0px;
	height: 100%;
	overflow: hidden;
	background-color: #384C68;
}
#aboutContent{
	background-color: #384C68;
	overflow: auto;
	color: white;
	font-family: helvetica,Arial;
	font-size: 15px;
	font-weight: bold;
	height:100%;
	position: relative;
	left : 15%;
    top: 15%;
    width: 50%;
}
#fileBrowserId{
	color: white;
}
#importBtn,#downloadBtn{
	background-color: #010814;
	color: white;
	width: 100px;
	height: 25px;
	border: 1px solid silver;
	border-radius : 5px;
	cursor: pointer;
}

.paraTitleTemplate{
	padding : 20px 0px 20px 10px;
	border-top : 1px solid silver;
	border-bottom : 1px solid silver;
	color: orange;
}

.paraTitleImport{
	padding : 20px 0px 20px 10px;
	border-bottom : 1px solid silver;
	border-top : 1px solid silver;
	color: orange;
}

.infoIcon {
    height: 20px;
    width: 20px;
    float: right;
    position: relative;
    display: inline-block;
}
#infoToUserContainer{
    background-color: #2E3744;
    font-size: 15px;
    font-family: helvatica,Arial;
    color: white;
    text-align: center;
    height: 45px;
    width: 200px;
    display: none;
    position: absolute;
    border-radius: 10px;
    padding: 5px 3px 3px 5px;
}